<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<!--
	This document provides the basis of a semantically structured web page 
	authored in XHTML 1.0 Transitional using established Cornell University
	naming conventions.
-->

<head>
	<title>David B. Shmoys - School of Operations Research and Information Engineering, Cornell University</title>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<meta http-equiv="Content-Language" content="en-us" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	
<!--
	All layout and formatting should be controlled through Cascading Stylesheets (CSS).
	The following link tag should appear in the head of every page in the website. see
	styles/screen.css.
-->
	<link rel="stylesheet" type="text/css" media="screen" href="styles/screen.css" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>

<body class="twocolumn">

<!--
	The following link provides a way for people using text-based browsers and
	screen readers to skip over repetitive navigation elements so that they can 
	get directly to the content. It is hidden from general users through CSS.
-->
<div id="skipnav">
	<a href="#content">Skip to main content</a></div>

<hr />

<!-- The following div contains the Cornell University logo with unit signature -->
<div id="cu-identity">
	<div id="cu-logo">
		<a id="insignia-link" href="http://www.cornell.edu/"><img src="images/ORIE_3line_red.gif" alt="Cornell University" width="416" height="88" border="0" /></a>
		<div id="unit-signature-links">
			<a id="cornell-link" href="http://www.cornell.edu/">Cornell University</a>
			<a id="unit-link1" href="http://www.orie.cornell.edu">Operations Research and Information Engineering</a>
			<a id="unit-link2" href="http://www.orie.cornell.edu">Operations Research and Information Engineering</a>		</div>
	</div>
	
<!-- 
		The search-form div contains a form that allows the user to search 
		either the unit website or all of cornell.edu directly from the banner.
	-->
	<div id="search-form">
		<form action="#" method="post" enctype="application/x-www-form-urlencoded">
			<div id="search-input">
				<label for="search-form-query">SEARCH:</label>
				<input type="text" id="search-form-query" name="query" value="" size="20" />
				<input type="submit" id="search-form-submit" name="submit" value="go" />
			</div>

			<div id="search-filters">
					<input type="radio" id="search-filters1" name="target" value="unit" checked="checked" />
					<label for="search-filters1">ORIE</label>
				
					<input type="radio" id="search-filters2" name="target" value="cornell" />
					<label for="search-filters2">Cornell</label>
					
					<a href="#">more options</a>			</div>	
		</form>
	</div>
	
<!-- 
		The search-form div contains a form that allows the user to search 
		either pages or people within cornell.edu directly from the banner.
	<div id="search-form">
		<form action="http://www.cornell.edu/search/" method="get" enctype="application/x-www-form-urlencoded">
			<div id="search-input">
				<label for="search-form-query">SEARCH CORNELL:</label>
				<input type="text" id="search-form-query" name="q" value="" size="20" />
				<input type="submit" id="search-form-submit" name="submit" value="go" />
			</div>

			<div id="search-filters">
					<input type="radio" id="search-filters1" name="tab" value="" checked="checked" />
					<label for="search-filters1">Pages</label>
				
					<input type="radio" id="search-filters2" name="tab" value="people" />
					<label for="search-filters2">People</label>
					
					<a href="http://www.cornell.edu/search/">more options</a>
			</div>	
		</form>
	</div>
	-->
	
	<!--
		The search-navigation div contains links that allow the user to search
		either the unit website or all of cornell.edu.
		These links will be displayed in the unit signature banner and will
		be aligned with the right edge of the page.
	<div id="search-navigation">
		<ul>
			<li><a href="#">Search Unit Name</a></li>
			<li><a href="http://www.cornell.edu/search/">Search Cornell</a></li>
		</ul>
	</div>
	-->
</div>

<!-- The header div contains the main identity and main navigation for the site -->
<div id="header">	
	<!--
		The navigation div contains the site's main navigation. These
		links will be displayed in a horizontal, gray navigation bar 
		under the unit signature banner.
	-->	
	<div id="navigation">
		<ul>
			<li><a href="new_publications.html">Selected Publications</a></li>		
			<li><a href="research.html">Research</a></li>
			<li><a href="new_books.html">Books</a></li>		
			<li><a href="new_students.html">Current &amp; Former PhD Students</a></li>		
			<li><a href="http://people.orie.cornell.edu/shmoys/cv-sd.pdf" target="_blank">Vita</a></li>
			
		  <!-- More navigation as needed
			<li><a href="#">Navigation 6</a></li>
			-->
						
		</ul>
	</div>
	
	<hr />
	
	<!-- 
		The identity div contains the name of a main site section
	-->
	<div id="identity">
		<h1>David B. Shmoys<br /> School of Operations Research and Information Engineering<br />Department of Computer Science</h1>
	</div>
</div>

<hr />

<div id="wrap">

<!-- The content div contains the main content of the page -->
<div id="content">

	<!--
		The section-navigation div contains the second level of site navigation.
		These links appear at the top of the left sidebar of the two-column page.
	-->
	<div id="section-navigation">
		<ul>
			<li><a href="#current">Current PhD Students</a></li>
			<li><a href="#former">Former PhD Students</a></li>
			<li><a href="new.html">Shmoys Home</a></li>
			<li><a href="http://www.orie.cornell.edu" target="_blank">ORIE Home</a></li>
			<li><a href="http://www.cs.cornell.edu/" target="_blank">CS Home</a></li>
		</ul>
	</div>
	
	<hr />

	<!--
		The main div contains the main contents of the page. It will be displayed
		as the wide right column with the beige background.
	-->
	<div id="main">
		<h2><a name="current"></a>Current PhD Students</h2>
  <ul>
	  <li><a href="http://www.cs.cornell.edu/~eoin/Welcome.html" target=
		  "_blank">Eoin O'Mahony</a>, expected June 2015, (Cornell-CS).</li>
	  <li><a href="http://www.orie.cornell.edu/people/students_phd.cfm?grad=604&year=2013" target=
		  "_blank">Chaoxu Tong</a>, expected June 2015, (Cornell-OR).</li>
	   <li><a href="http://www.orie.cornell.edu/people/students_phd.cfm?grad=581&year=2013" target=
		   "_blank">Daniel Fleischman</a>, expected June 2015, (Cornell-OR).</li>
   </ul>
  <br clear="all" />
  
  <h2><a name="former"></a>Former PhD Students</h2>
  <ul>
   <li><a href="http://www.cs.brown.edu/people/pnk/" target="_blank">Philip
       Klein</a>, August 1988, Efficient Parallel Algorithms for Planar, Chord al
       and Interval Graphs, (MIT-CS).</li>
   <li><a href="http://www.mts.jhu.edu/~leslie/" target="_blank">Leslie Hall</a>,
       August 1989, Topics in Combinatorial Optimization, (MIT-OR). <o:p></o:p></span></li>
   <li><a href="http://pdc-amd01.poly.edu/~wein/" target="_blank">Joel Wein</a>,
       June 1991, Algorithms for Scheduling and Network Problems, (MIT-Applied
       Math).</li>
   <li><a href="http://www.columbia.edu/~cs2035/" target="_blank">Clifford
       Stein</a>, August 1992, Approximation Algorithms for Multicommodity Flow
       and Shop Scheduling Problems, (MIT-CS).</li>
   <li><a href="http://www.dsi.uniroma1.it/~ale/" target="_blank">Alessandro
       Panconesi</a>, June 1993, Locality in Distributed Computing,
       (Cornell-CS).</li>
   <li><a href="http://www.cs.umd.edu/~srin/" target="_blank">Aravind
       Srinivasan</a>, August 1993, Techniques for Probabilistic Analysis and
       Randomness-Efficient Computation, (Cornell-CS).</li>
   <li><a href="http://www.econ.upf.edu/~ramalhin/" target="_blank">Helena
       Lourenco</a>, August 1993, Algorithms and Computational Experiments for
       the Job-shop Scheduling Problem, (Cornell-OR).</li>
   <li>Paul Martin, August 1996, A Time-Oriented Approach to
       Solving Job-shop Scheduling Problems, (Cornell-OR).</li>
   <li><a href="http://www.ifor.math.ethz.ch/~chudak" target="_blank">Fabian
       Chudak</a>, August 1998, Approximation Algorithms for the Uncapacitated
       Facility Location Problem, (Cornell-OR).</li>
   <li><a href="http://www.math.duke.edu/~mhuber/" target="_blank">Mark
       Huber</a>, June 1999, Efficient Algorithms for Exact Sampling,
       (Cornell-OR). </li>
   <li><a
       href="http://www.bioinformatics.uwaterloo.ca/~browndg/" target="_blank">Dan Brown</a>,
       August 2000, New Algorithms for Genetic Linkage Mapping Projects,
       (Cornell-CS). </li>
   <li><a
       href="http://explore.georgetown.edu/people/nje5/?action=viewgeneral" target="_blank">Nathan
       Edwards</a>, January 2001, Computing Near-optimal Solutions for Network
       Design Problems, (Cornell-OR). </li>
   <li><a href="http://www.math.uwaterloo.ca/~cswamy/" target="_blank">Chaitanya
       Swamy</a>, June 2004, Approximation Algorithms for Clustering Problems,
       (Cornell-CS). </li>
   <li><a href="http://web.mit.edu/retsef/www/" target="_blank">Retsef Levi</a>,
       August 2005, Computing Provably Near-Optimal Policies for Stochastic
       Inventory Control Models, (Cornell-OR). </li>
   <li>Ranjith Rajagopalan, August 2005, Algorithms for Some
       Clustering Problems, (Cornell-OR). </li>
   <li>Davina Kunvipusilkul, December 2006, Integer
       Programming Methods for Scheduling Chain with Interval Lag Constraints,
       (Cornell-OR). </li>
   <li><a href="http://itcs.tsinghua.edu.cn/~frans/" target="_blank">Frans
       Schalekamp</a>, April 2007, Algorithms for Universal and A Priori
       Optimization Problems, (Cornell-OR). </li>
   <li><a href="http://people.orie.cornell.edu/tcarnes/" target="_blank">Tim
       Carnes</a>, June 2009, Approximation Algorithms Via the Primal-Dual
       Schema: Applications of the Simple Dual-Ascent Method to Problems from
       Logistics, (Cornell-OR). </li>
   <li><a href="http://people.orie.cornell.edu/gms39/" target="_blank">Gwen
       Spencer</a>, May 2012, Approximation Algorithms for Stochastic Combinatorial Optimization 
       with Applications in Sustainability (Cornell-OR).</li>
   <li>Maurice Cheung, May 2012, LP-based Approximation Algorithms for Scheduling and Inventory Management Problems (Cornell-OR).</li>
   <li><a href="http://www.cs.cornell.edu/~anhc/" target="_blank">Hyung-Chan An</a>, August 2012, LP-based Approximation Algorithms for the TSP and Related Problems (Cornell-CS).</li>
  </ul>
</p>
		
		
	</div>
	
	<hr />
	
	<!--
		The contents of the secondary div are displayed in the left column sidebar
		below the secondary navigation. Each group of secondary content should be 
		organized in a secondary-section div, which will pad the content from the 
		edges of the sidebar and separate it from other content.
	-->
	<div id="secondary">
		<div class="secondary-section">
			<h2>Contact Information</h2>
			<p>
					<strong>David B. Shmoys</strong><br />
        Cornell University <br />
		231 Rhodes Hall<br />
		Ithaca, NY 14853<br /><br />
		(607) 255-9146 - phone<br>
		(607) 255-9129 - fax<br>
			</p>
		</div>
		
<!--		<div class="secondary-section">
			<h2>Related Resources</h2>
			<ul>
				<li><a href="#">Integer feugiat lacinia enim.</a></li>
				<li><a href="#">Nam tincidunt dictum justo.</a></li>
				<li><a href="#">Donec aliquet pellentesque dolor</a></li>
				<li><a href="#">Donec blandit commodo diam.</a></li>
				<li><a href="#">Nunc scelerisque aliquam urna.</a></li>
				<li><a href="#">Sed rhoncus risus vel dolor.</a></li>
			</ul>
		</div>
 -->		
		<!--
			A secondary-photo div contains an image that is as wide as the sidebar 
			(200px) and a caption paragraph. Note that the secondary-photo should
			not be within a secondary-section div.
		-->
<!--		<div class="secondary-photo">
			<img src="images/photos/arecibo_dusk.jpg" alt="Arecibo at Dusk" />
			<p class="caption">
			Fusce sed eros vel massa sollicitudin pharetra. Ut tellus. Suspendisse ac massa.
			</p>
		</div>
		
		<div class="secondary-photo">
			<img src="images/photos/libecafe.jpg" alt="Libe Cafe" />
			<p class="caption">
			Quisque mi lorem, facilisis in, elementum ac, bibendum a, augue.
			</p>
		</div> -->
	</div>
</div>
</div>

<hr />

<div id="footer">
<!-- The footer-content div contains the Cornell University copyright -->
<div id="footer-content">
	&copy;2012 <a href="http://www.cornell.edu/">Cornell University</a>
</div>
</div>

</body>
</html>
